
  <div class="card">
  <div class="menu-wrapper">

    <button
      #menuBtn
      pButton
      type="button"
      icon="pi pi-search"
      class="main-action-btn"
      (click)="menu.toggle($event)">
    </button>

    <p-menu
      #menu
      [popup]="true"
      [model]="items"
      appendTo="body"
      styleClass="rtl-menu">
    </p-menu>

  </div>
</div>

<!-- </div>
<div class="card">
</div> -->

        <p-toast />
        <p-table [value]="cards" selectionMode="single" [(selection)]="selectedCard" dataKey="code" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>תאריך קניה</th>
                    <th>שם קונה</th>
                    <th>שם מתנה</th>
                    <th>קוד רכישה</th>
                </tr>
            </ng-template>
            <ng-template #body let-card>
                <tr [pSelectableRow]="card">
                    <td>{{ card.buingDate }}</td>
                    <td>{{ card.buyerName }}</td>
                    <td>{{ card.giftName }}</td>
                    <td>{{ card.cardId }}</td>
                </tr>
            </ng-template>
        </p-table>
