  <button class="btn-home" (click)="router.navigate(['/'])">בית</button>
<div class="manager-container">

  <!-- אזור ניווט קבוע -->
  <div class="navbar-section">
    <h1>ברוך הבא למערכת הניהול</h1>
    <p-menubar [model]="items"></p-menubar>
  </div>

  <!-- תוכן מתחלף -->
  <div class="content-section">

    <!-- GIF רק בדף הבית ומתחת לתפריט -->
    <div *ngIf="selectercomponent === 'home'" class="home-background"></div>

    <div *ngIf="selectercomponent === 'home'" class="home-content">
    </div>

    <div *ngIf="selectercomponent === 'donors'">
      <app-donor-manage></app-donor-manage>
    </div>

    <div *ngIf="selectercomponent === 'gifts'">
      <app-gift-manage></app-gift-manage>
    </div>

    <div *ngIf="selectercomponent === 'cards'">
      <app-card-manage></app-card-manage>
    </div>

    <div *ngIf="selectercomponent === 'rand'">
      <app-rand-manage></app-rand-manage>
    </div>

  </div>
</div>
